<strong><%= @fragment.title %></strong>
<article>
  <%= sanitize simple_format(@processed_text, {}, :sanitize => false), tags: %w(a b i u em strong ul img ol br p h1 h2 h3 h4 h5 h6 div), attributes: %w(href id src) %>
</article>
<nav>
<ul>
<li><%= link_to 'edit', edit_fragment_path(@fragment) %></li>
<li><%= link_to 'destroy', fragment_path(@fragment),
              method: :delete,
              data: { confirm: 'This fragment will be lost to the sands of time. Continue?' } %></li>
</nav>
