<strong><%= @fragment.title %></strong>
<article>
  <%= simple_format @fragment.text %>
</article>
<nav>
<ul>
<li><%= link_to 'edit', edit_fragment_path(@fragment) %></li>
<li><%= link_to 'destroy', fragment_path(@fragment),
              method: :delete,
              data: { confirm: 'This fragment will be lost to the sands of time. Continue?' } %></li>
</nav>
