<!DOCTYPE html>
<html>
  <head>
    <title>machicosmes</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
